<html>
    <head>
        <link rel="stylesheet" href="/static/css/capture.css" type="text/css" media="all">
        <link rel="stylesheet" href="/static/css/form.css" type="text/css" media="all">
    </head>
    <body>
        <!-- multistep form -->
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Personal Details</li>
                <li>Take an image</li>
                <li>Sigint Resources</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
                <input type="text" name="fname" placeholder="First Name" />
                <input type="text" name="lname" placeholder="Last Name" />
                <input type="text" name="phone" placeholder="Phone" />
                <textarea name="address" placeholder="Address"></textarea>
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Take an image</h2>
                <h3 class="fs-subtitle">We will never sell it</h3>
                <div class="contentarea">
                    <div class="camera">
                        <video id="video">Video stream not available.</video>
                        <button id="startbutton">Take photo</button> 
                    </div>
                    <canvas id="canvas">
                    </canvas>
                    <div class="output">
                        <img id="photo" alt="The screen capture will appear in this box."> 
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Sigint Resources</h2>
                <h3 class="fs-subtitle">We will never sell it</h3>
                <input type="text" name="twitter" placeholder="Twitter" />
                <input type="text" name="facebook" placeholder="Facebook" />
                <input type="text" name="gplus" placeholder="Google Plus" />
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
        </form>
        
        <!-- jQuery -->
        <script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <!-- jQuery easing plugin -->
        <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
        <script src="/static/js/form.js" type="text/javascript" ></script>
        <script src="/static/js/capture.js" type="text/javascript" ></script>
    </body>
</html>