#video {
  width:240px;
}

#photo {
  width:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 240px;
  display:inline-block;
}

#startbutton {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:50px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

#retakebutton {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  left: 20px;
  bottom:50px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  display: inline;
}

#confirmbutton {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  right: 20px;
  bottom:50px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  display: inline;
}
.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
}